@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
/* CSS Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Serif Display", serif;
  line-height: 1.8;
}

button {
  background-color: transparent;
  text-transform: uppercase;
  border: none;
}

button:hover {
  cursor: pointer;
}

a {
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: 800;
  opacity: 0.5;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 0 20px;
}

.main-btn {
  font-weight: 900;
  color: rgb(104, 104, 104);
  border: 1px solid black;
  padding: 12px 30px;
}

.main-btn:hover {
  transition: all 0.4s;
}

.page-name {
  font-size: 2.6rem;
}
h1 {
  line-height: 1.2;
  color: rgb(40, 39, 39);
}
header {
  background-color: white;
  position: sticky;
  top: 0;
}

header .flex {
  height: 80px;
}

header .links-container {
  gap: 30px;
}

header .toggle img {
  width: 35px;
}

header .links-container a:hover {
  opacity: unset;
  transition: opacity 0.5s;
}

header .main-btn:hover,
.contact-form .main-btn:hover {
  background-color: black;
  color: white;
}

header .toggle {
  display: none;
  position: absolute;
  right: 12px;
  top: 22px;
}

.hero-container .flex {
  height: calc(100vh - 80px);
}

.hero-container h1 {
  font-size: 5rem;
}

.hero-container .hero-tagline {
  max-width: 70%;
}

.hero-container .hero-tagline p {
  max-width: 65%;
  color: rgb(104, 103, 103);
  padding: 20px 0;
}

.hero-container .hero-tagline .main-btn {
  background-color: black;
  color: white;
}

.hero-container .hero-tagline .main-btn:hover {
  box-shadow: -1px -1px 192px 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px -1px 192px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px -1px 192px 5px rgba(0, 0, 0, 0.75);
  background-color: rgb(49, 48, 48);
}

.product-container {
  height: 100vh;
  padding: 15px 0;
}

.about-container {
  height: 100vh;
  padding: 15px 0;
}

.about-product {
  position: relative;
}

.about-img-container {
  padding-top: 20px;
}

.about-img-container img {
  width: 620px;
  height: 100%;
}

.about-description {
  position: absolute;
  background-color: white;
  width: 46%;
  height: 70%;
  top: 150px;
  right: 0px;

  padding: 40px;
}

.about-description h1 {
  padding-bottom: 20px;
}

.about-description p {
  color: gray;
  font-weight: lighter;
}

.contact-container {
  height: 100vh;
}

.contact-form {
  padding: 40px 0;
}

.contact-form div {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.contact-form input,
textarea {
  width: 100%;
  padding: 11px 10px;
  outline: none;
}

.contact-form textarea {
  width: 100%;
  height: calc(100vh - 370px);
  margin: 20px 0;
  font-size: 14px;
}

.contact-form input:focus,
textarea:focus {
  border: 2px solid black;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  header .container .flex {
    flex-direction: column;
    height: 100vh;
    padding-top: 16px;
  }
  header .toggle {
    display: block;
  }
  header .links-container {
    justify-content: center;
  }
  header .logo {
    align-self: flex-start;
    padding-top: 10px;
  }
}
